<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss} [%t] %-5level - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
    
        <Logger name="org.apache.http" level="warn" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="StatusConsoleListener" level="warn" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <Logger name="software.amazon.awssdk" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <Root level="${env:LOG_LEVEL:-TRACE}">
            <AppenderRef ref="LogToConsole"/>
        </Root>

    </Loggers>
</Configuration>
